.topbar-button-right {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white !important;
    color: black !important;
    font-size: 15px;
}