<div fxLayout="column" fxLayoutGap="20px" style="padding: 20px">
  <!-- Button Row -->
  <div
    fxLayout="row"
    fxLayout.lt-sm="column"
    class="full-width"
    [@animate]="{ value: '*', params: { y: '50px', delay: '100ms' } }"
  >
    <button *ngIf="!editMode" mat-button [routerLink]="['/news']">
      <mat-icon>arrow_back</mat-icon> Back to News List
    </button>
    <button *ngIf="editMode" mat-button [routerLink]="['/news/' + newsId]">
      <mat-icon>arrow_back</mat-icon> Back to Article
    </button>
  </div>
  <div fxLayout="row" fxLayout.lt-sm="column" class="full-width">
    <mat-card
      class="p-0 full-width"
      [@animate]="{ value: '*', params: { y: '50px', delay: '150ms' } }"
      *ngIf="newsReady"
    >
      <mat-card-title class="">
        <div
          *ngIf="editMode && article.hasOwnProperty('title')"
          class="card-title-text"
        >
          <h1>
            <b>{{ article.title }}</b>
          </h1>
        </div>
        <div *ngIf="!editMode" class="card-title-text">
          <h1><b>New article</b></h1>
        </div>
        <mat-divider></mat-divider>
      </mat-card-title>
      <mat-card-content>
        <form [formGroup]="newsForm">
          <div fxLayout="column">
            <div class="full-width" fxLayout="row wrap">
              <div fxFlex="100" style="margin: 20px 0px">
                <h2>Article Info</h2>
              </div>
              <!-- Title -->
              <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                <div class="pb-1">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      title="title"
                      formControlName="title"
                      placeholder="Title (Min Length: 4, Max Length: 9)"
                    />
                  </mat-form-field>
                  <small
                    *ngIf="
                      titleControl.hasError('minlength') &&
                      newsForm.controls['title'].touched
                    "
                    class="form-error-msg"
                  >
                    Title require at least
                    {{
                      titleControl.errors.minlength.requiredLength
                    }}
                    characters
                  </small>
                  <small
                    *ngIf="
                    titleControl.hasError('maxlength') &&
                      newsForm.controls['title'].touched
                    "
                    class="form-error-msg"
                  >
                    Title can not contain more than
                    {{
                      titleControl.errors.maxlength.requiredLength
                    }}
                    characters
                  </small>
                </div>
              </div>
              <!-- Subtitle -->
              <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                <div class="pb-1">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      title="subtitle"
                      formControlName="subtitle"
                      placeholder="Subtitle (Min Length: 4, Max Length: 9)"
                    />
                  </mat-form-field>
                </div>
              </div>
              <!-- Description -->
              <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                <div class="pb-1">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      title="description"
                      formControlName="description"
                      placeholder="Description (Min Length: 4, Max Length: 9)"
                    />
                  </mat-form-field>
                </div>
              </div>
              <!-- Author -->
              <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                <div class="pb-1">
                  <mat-form-field class="full-width">
                    <input
                      matInput
                      title="author"
                      formControlName="author"
                      placeholder="Author (Min Length: 4, Max Length: 9)"
                    />
                  </mat-form-field>
                </div>
              </div>
              <!-- Category -->
              <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                <div class="pb-1">
                  <mat-form-field class="full-width">
                    <mat-label>Category</mat-label>
                    <select
                      matNativeControl
                      name="category"
                      formControlName="category"
                      required
                    >
                      <option
                        *ngFor="let category of categories"
                        [value]="category"
                      >{{ category }}</option>
                    </select>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <!-- Article Main Image -->
            <div class="full-width" class="pr-1">
              <h2 style="margin: 20px 0px">Main Image</h2>
            </div>

            <!-- Quill Editor -->
            <div class="full-width" class="pr-1">
              <h2 style="margin: 20px 0px">Article Content</h2>
              <div class="pb-1">
                <quill-editor
                  formControlName="content"
                  [modules]="quillModules"
                ></quill-editor>
              </div>
            </div>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-button
          color="primary"
          [disabled]="newsForm.invalid"
          (click)="submitForm()"
        >
          Submit
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
