<div *ngIf="formReady">
    <h1 matDialogTitle>{{data.title}}</h1>
    {{"ADD"}} {{"RECORD"}}
    <!-- <form [formGroup]="recordForm" (ngSubmit)="submit()"> -->
      <div fxLayout="row wrap" fxLayout.lt-sm="column">
        <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="accept()"
      >
        Accept
      </button>
        <div fxFlex="100" class="mt-1">
          <button mat-raised-button color="primary" type="button">{{"SAVE"}}</button>
          <span fxFlex></span>
          <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
        </div>
      </div>
    <!-- </form> -->
  </div>

