<div
  fxLayout="column"
  fxLayoutGap="10px"
  style="padding: 10px"
  *ngIf="formReady"
>
  <!-- Button row -->
  <div
    fxLayout="row"
    fxLayout.lt-sm="column"
    [@animate]="{ value: '*', params: { y: '50px', delay: '50ms' } }"
    style="padding: 10px 10px 0 10px"
  >
    <button mat-button color="primary" routerLink="/memberships/new">
      <mat-icon>add</mat-icon> New membership
    </button>
  </div>
  <!-- Search Form -->
  <div
    [@animate]="{ value: '*', params: { y: '50px', delay: '70ms' } }"
    fxLayout="row wrap"
    fxLayout.lt-sm="column"
    fxFlex="100"
    style="padding: 10px 10px 0px 10px"
  >
    <form fxFlex fxLayout="row wrap" class="sort-form" [formGroup]="filterForm">
      <div fxLayout="row" fxFlex="100" fxFlex.gt-sm="33.3" fxLayoutGap="20px">
        <mat-form-field
          fxFlex
          style="padding: 8px; background-color: white"
        >
          <input
            matInput
            name="name"
            placeholder="Name"
            formControlName="name"
          />
        </mat-form-field>
      </div>
      <!-- <div fxLayout="row wrap" fxFlex="100" fxFlex.gt-sm="33.3">
        <div fxLayout="row" fxFlex="100" fxFlex.gt-sm="50">
          <mat-form-field
            fxFlex="100"
            style="margin: 8px; padding: 8px; background-color: white"
          >
            <mat-label>Meet Status</mat-label>
            <mat-select formControlName="status">
              <mat-option [value]="null"> All </mat-option>
              <mat-option [value]="'created'"> Created </mat-option>
              <mat-option [value]="'active'"> Active </mat-option>
              <mat-option [value]="'review'"> Under Review </mat-option>
              <mat-option [value]="'accepted'"> Accepted </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50">
          <mat-form-field
            fxFlex
            style="margin: 8px; padding: 8px; background-color: white"
          >
            <mat-label>Upcoming</mat-label>
            <mat-select formControlName="completed">
              <mat-option [value]="null"> All </mat-option>
              <mat-option [value]="'upcoming'"> Upcoming </mat-option>
              <mat-option [value]="'past'"> Past </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row wrap" fxFlex="100" fxFlex.gt-sm="33.3">
        <div fxFlex="100" fxFlex.gt-sm="50">
          <mat-form-field
            fxFlex
            style="margin: 8px; padding: 8px; background-color: white"
          >
            <mat-label>Province</mat-label>
            <mat-select formControlName="province">
              <mat-option [value]="null"> All </mat-option>
              <mat-option
                *ngFor="let province of platformService.provinces"
                [value]="province"
              >
                {{ province }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50">
          <mat-form-field
            fxFlex
            style="margin: 8px; padding: 8px; background-color: white"
          >
            <mat-label>Year</mat-label>
            <mat-select formControlName="year">
              <mat-option [value]="null"> All </mat-option>
              <mat-option *ngFor="let year of years" [value]="year">
                {{ year }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div> -->
    </form>
  </div>
  <!-- Memberships List -->
  <div fxLayout="row wrap" *ngIf="membershipsReady">
    <div
      *ngFor="
        let membership of filteredMemberships | async 
          | paginate: { itemsPerPage: 9, currentPage: currentPage };
        let i = index
      "
      [@animate]="{
        value: '*',
        params: { delay: i * 20 + 100 + 'ms', y: '50px' }
      }"
      fxFlex="100"
      fxFlex.gt-sm="33"
      fxFlex.sm="50"
      style="padding: 10px 10px 10px 10px"
    >
      <mat-card class="user-card" [routerLink]="['/memberships/' + membership._id]">
        <mat-card-title>
          <div class="card-title-text">
            <h2>{{ membership?.name }}</h2>
          </div>
        </mat-card-title>
        <mat-card-content>
          <!-- member detail lines-->
          <div class="member-details">
            <mat-divider></mat-divider>
            <div
              fxLayout="column"
              fxLayoutAlign="space-between center"
              fxLayoutGap="10px"
            >
              <div
                class="full-width"
                fxLayout="row"
                fxLayoutAlign="start center"
              >
                <mat-icon class="text-muted">card_membership</mat-icon>
                <span fxFlex="10px"></span>
                Status:
                {{ membership?.status }}
              </div>
              <div
                class="full-width"
                fxLayout="row"
                fxLayoutAlign="start center"
              >
                <mat-icon class="text-muted">date_range</mat-icon>
                <span fxFlex="10px"></span>
                Member since:
                {{ membership?.creationDate | date: "longDate" }}
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div
      class="products-pagination"
      fxFlex="100"
      style="text-align: center; padding: 0"
    >
      <pagination-controls
        (pageChange)="currentPage = $event"
      ></pagination-controls>
    </div>
  </div>
</div>
