<div fxLayout="row" fxLayout.lt-sm="column" class="shop-top-toolbar" [@animate]="{value:'*',params:{scale:'.9',delay:'300ms'}}">
  <button mat-button color="primary" routerLink="/members/new">
    <mat-icon>add</mat-icon> New Member
  </button>
  <span fxFlex="10px"></span>
  <button mat-button color="primary" routerLink="/members/list">
    <mat-icon>list</mat-icon> Members List
  </button>
</div>

<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" [@animate]="{value:'*',params:{scale:'.9',delay:'300ms'}}">
    <mat-card>
      <mat-card-title fxLayoutAlign="start center">
        <small class="text-muted">New Members This Month</small>
        <span fxFlex></span>
        <mat-chip class="icon-chip" color="accent" selected="true">
          <mat-icon>trending_up</mat-icon>9%
        </mat-chip>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">2</h3>
        <small class="text-muted">Monthly</small>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" [@animate]="{value:'*',params:{delay:'300ms',scale:'.9'}}">
    <mat-card>
      <mat-card-title>
        <small class="text-muted">New Members This Year</small>
        <span fxFlex></span>
        <mat-chip class="icon-chip" color="accent" selected="true">
          <mat-icon>trending_up</mat-icon>9%
        </mat-chip>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">377,670</h3>
        <small class="text-muted">Monthly</small>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" [@animate]="{value:'*',params:{delay:'300ms',scale:'.9'}}">
    <mat-card>
      <mat-card-title>
        <small class="text-muted">Total Members</small>
        <span fxFlex></span>
        <mat-chip class="icon-chip" color="accent" selected="true">
          <mat-icon>trending_up</mat-icon>9%
        </mat-chip>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">54,845</h3>
        <small class="text-muted">Monthly</small>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" [@animate]="{value:'*',params:{delay:'300ms',scale:'.9'}}">
    <mat-card>
      <mat-card-title>
        <small class="text-muted">Active Members</small>
        <span fxFlex></span>
        <mat-chip class="icon-chip" color="warn" selected="true">
          <mat-icon>trending_down</mat-icon>2%
        </mat-chip>
      </mat-card-title>
      <mat-card-content>
        <h3 class="m-0 font-normal">2</h3>
        <small class="text-muted">Monthly</small>
      </mat-card-content>
    </mat-card>
  </div>
</div>