#billing-table {
    width: 100%;
}

.profile-sidebar {
    position: relative;
    height: inherit;
  }
  
  .profile-info {
    padding-bottom: 20px;
    width: 300px;
    height: auto;
    top:20px;
    position: sticky;
    align-self: flex-start;
  }